<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>
	<rule ref="PHPCompatibility">
	 	<exclude name="WordPress.PHP.StrictComparisons.LooseComparison" />
		<exclude name="WordPress.PHP.StrictInArray.MissingTrueStrict" />

		<exclude-pattern>tests/</exclude-pattern>
	</rule>

	<rule ref="WPThemeReview" >
		<exclude-pattern>tests/</exclude-pattern>
	</rule>
	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress-VIP-Go" />
	<rule ref="WordPress" >
		<!-- Ignoring WordpressVIP specific functions for now. -->
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.attachment_url_to_postid_attachment_url_to_postid" />
		<!-- Ignoring WordpressVIP specific functions for now. -->
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_is_mobile_wp_is_mobile" />
		<!-- Creates issue getting remote data. -->
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_remote_get_wp_remote_get" />
		<!-- Creates issue with rendering svg icons. -->
		<exclude name="WordPressVIPMinimum.Files.IncludingNonPHPFile.IncludingNonPHPFile" /> 
		<!-- Ignoring WordpressVIP specific functions for now. -->
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.get_adjacent_post_get_next_post" /> 
		<!-- Ignoring WordpressVIP specific functions for now. -->
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.get_adjacent_post_get_previous_post" /> 
	</rule>

	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property name="customAutoEscapedFunctions" type="array">
				<element value="astra_attr"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="astra_"/>
		</properties>
	</rule>

	<rule ref="PHPCompatibility.Keywords.NewKeywords.t_useFound">
		<exclude-pattern>inc/compatibility/class-astra-web-stories.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.LanguageConstructs.NewLanguageConstructs">
		<exclude-pattern>inc/compatibility/class-astra-web-stories.php</exclude-pattern>
	</rule>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show sniff codes in all reports -->
	<arg value="s"/>

	<exclude-pattern>tests/php/static-analysis-stubs/*</exclude-pattern>
	<exclude-pattern>inc/addons/breadcrumbs/class-astra-breadcrumb-trail.php</exclude-pattern>
	<exclude-pattern>*/index.asset.php</exclude-pattern>
	<exclude-pattern>*/dashboard-app.asset.php</exclude-pattern>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<!-- Exclude Libraries -->
	<exclude-pattern>*/inc/lib/*</exclude-pattern>

	<rule ref="Internal.Exception">
		<severity>0</severity>
	</rule>
</ruleset>
