.ast-btn-preset-wrap {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}

.ast-btn-preset-wrap .ast-btn-style-item{
	cursor: pointer;
}

.ast-btn-preset-wrap .ast-btn-style-item svg{
	fill: #A0A5AA;
}
.ast-btn-preset-wrap .ast-btn-style-item.active svg{
	fill: #0274BE;
}
.ast-btn-preset-wrap .ast-btn-style-item:hover svg{
    fill:#82878C;
}

