.ast-typo-presets {
	width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: space-between;
}
.ast-typo-presets .ast-typo-preset-item {
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--ast-customizer-color-7);
    height: 64px;
    text-align: center;
}
.ast-typo-presets .ast-typo-preset-item:hover{
	border: 1px solid var(--ast-customizer-color-1);
}

.ast-typo-presets .ast-typo-preset-item svg {
	transform: scale(1);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}
.ast-typo-presets .ast-typo-preset-item.active {
    border: 1px solid var(--ast-customizer-color-1);
    background: var(--ast-customizer-color-9);
}
.customize-control-ast-typography-presets .ast-reset-btn-preset-wrap {
    top: -5px;
}
