.ast-responsive-select-container {
  display: none;
}

.ast-responsive-select-container.active {
  display: block;
}

.customize-control select, .ast-variant-select > div, .customize-control input, .customize-control-content .components-text-control__input {
	border-color: #ddd;
	padding-top: 2px;
    padding-bottom: 2px;
}

.customize-control select:focus, .ast-variant-select > div, .customize-control input:focus {
	border-color: var(--wp-admin-theme-color);
	color: #0a4b78;
	box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
}