.ast-responsive-select-container {
  display: none;
}

.ast-responsive-select-container.active {
  display: block;
}
.customize-control select, .ast-variant-select > div, .customize-control input {
  border-color: #ddd;
}
